<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>aacute.ss02</key>
    <string>aacute.ss02.glif</string>
    <key>abreve.ss02</key>
    <string>abreve.ss02.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dvA</key>
    <string>dvA_.glif</string>
    <key>dvAnusvara</key>
    <string>dvA_nusvara.glif</string>
    <key>dvB</key>
    <string>dvB_.glif</string>
    <key>dvBHA</key>
    <string>dvB_H_A_.glif</string>
    <key>dvB_DHA</key>
    <string>dvB__D_H_A_.glif</string>
    <key>dvCA</key>
    <string>dvC_A_.glif</string>
    <key>dvCHA</key>
    <string>dvC_H_A_.glif</string>
    <key>dvCH_YA</key>
    <string>dvC_H__Y_A_.glif</string>
    <key>dvC_CA</key>
    <string>dvC__C_A_.glif</string>
    <key>dvC_MA</key>
    <string>dvC__M_A_.glif</string>
    <key>dvC_NA</key>
    <string>dvC__N_A_.glif</string>
    <key>dvC_YA</key>
    <string>dvC__Y_A_.glif</string>
    <key>dvCandrabindu</key>
    <string>dvC_andrabindu.glif</string>
    <key>dvDDA</key>
    <string>dvD_D_A_.glif</string>
    <key>dvDDHA</key>
    <string>dvD_D_H_A_.glif</string>
    <key>dvDDH_VA</key>
    <string>dvD_D_H__V_A_.glif</string>
    <key>dvDDH_YA</key>
    <string>dvD_D_H__Y_A_.glif</string>
    <key>dvDD_DDA</key>
    <string>dvD_D__D_D_A_.glif</string>
    <key>dvDD_DDHA</key>
    <string>dvD_D__D_D_H_A_.glif</string>
    <key>dvDD_VA</key>
    <string>dvD_D__V_A_.glif</string>
    <key>dvDD_YA</key>
    <string>dvD_D__Y_A_.glif</string>
    <key>dvDHA</key>
    <string>dvD_H_A_.glif</string>
    <key>dvD_DA</key>
    <string>dvD__D_A_.glif</string>
    <key>dvD_MA</key>
    <string>dvD__M_A_.glif</string>
    <key>dvD_VA</key>
    <string>dvD__V_A_.glif</string>
    <key>dvD_YA</key>
    <string>dvD__Y_A_.glif</string>
    <key>dvE</key>
    <string>dvE_.glif</string>
    <key>dvG</key>
    <string>dvG_.glif</string>
    <key>dvGA</key>
    <string>dvG_A_.glif</string>
    <key>dvGH</key>
    <string>dvG_H_.glif</string>
    <key>dvHA</key>
    <string>dvH_A_.glif</string>
    <key>dvHA_mU</key>
    <string>dvH_A__mU_.glif</string>
    <key>dvHA_mUU</key>
    <string>dvH_A__mU_U_.glif</string>
    <key>dvH_NA</key>
    <string>dvH__N_A_.glif</string>
    <key>dvH_RA</key>
    <string>dvH__R_A_.glif</string>
    <key>dvH_YA</key>
    <string>dvH__Y_A_.glif</string>
    <key>dvI</key>
    <string>dvI_.glif</string>
    <key>dvJA</key>
    <string>dvJ_A_.glif</string>
    <key>dvJH</key>
    <string>dvJ_H_.glif</string>
    <key>dvJHA</key>
    <string>dvJ_H_A_.glif</string>
    <key>dvJH_MA</key>
    <string>dvJ_H__M_A_.glif</string>
    <key>dvJH_NA</key>
    <string>dvJ_H__N_A_.glif</string>
    <key>dvJ_J_NYA</key>
    <string>dvJ__J__N_Y_A_.glif</string>
    <key>dvJ_MA</key>
    <string>dvJ__M_A_.glif</string>
    <key>dvJ_NYA</key>
    <string>dvJ__N_Y_A_.glif</string>
    <key>dvJ_NY_YA</key>
    <string>dvJ__N_Y__Y_A_.glif</string>
    <key>dvJ_TA</key>
    <string>dvJ__T_A_.glif</string>
    <key>dvK</key>
    <string>dvK_.glif</string>
    <key>dvKA</key>
    <string>dvK_A_.glif</string>
    <key>dvKH</key>
    <string>dvK_H_.glif</string>
    <key>dvKHA</key>
    <string>dvK_H_A_.glif</string>
    <key>dvKH_R</key>
    <string>dvK_H__R_.glif</string>
    <key>dvK_SSA</key>
    <string>dvK__S_S_A_.glif</string>
    <key>dvK_S_TTA</key>
    <string>dvK__S__T_T_A_.glif</string>
    <key>dvK_TA</key>
    <string>dvK__T_A_.glif</string>
    <key>dvLA</key>
    <string>dvL_A_.glif</string>
    <key>dvLLA</key>
    <string>dvL_L_A_.glif</string>
    <key>dvL_BHA</key>
    <string>dvL__B_H_A_.glif</string>
    <key>dvL_TA</key>
    <string>dvL__T_A_.glif</string>
    <key>dvMA</key>
    <string>dvM_A_.glif</string>
    <key>dvM_BH_RA</key>
    <string>dvM__B_H__R_A_.glif</string>
    <key>dvM_SA</key>
    <string>dvM__S_A_.glif</string>
    <key>dvNA</key>
    <string>dvN_A_.glif</string>
    <key>dvNNA</key>
    <string>dvN_N_A_.glif</string>
    <key>dvNY_SHA</key>
    <string>dvN_Y__S_H_A_.glif</string>
    <key>dvN_CA</key>
    <string>dvN__C_A_.glif</string>
    <key>dvN_MA</key>
    <string>dvN__M_A_.glif</string>
    <key>dvN_TA</key>
    <string>dvN__T_A_.glif</string>
    <key>dvN_T_RA</key>
    <string>dvN__T__R_A_.glif</string>
    <key>dvOm</key>
    <string>dvO_m.glif</string>
    <key>dvPH_R</key>
    <string>dvP_H__R_.glif</string>
    <key>dvPH_TA</key>
    <string>dvP_H__T_A_.glif</string>
    <key>dvPHx_R</key>
    <string>dvP_H_x_R_.glif</string>
    <key>dvRashtrasign</key>
    <string>dvR_ashtrasign.glif</string>
    <key>dvReph</key>
    <string>dvR_eph.glif</string>
    <key>dvReph_Anusvara</key>
    <string>dvR_eph_A_nusvara.glif</string>
    <key>dvSA</key>
    <string>dvS_A_.glif</string>
    <key>dvSHA</key>
    <string>dvS_H_A_.glif</string>
    <key>dvSH_CHA</key>
    <string>dvS_H__C_H_A_.glif</string>
    <key>dvSH_NA</key>
    <string>dvS_H__N_A_.glif</string>
    <key>dvSSA</key>
    <string>dvS_S_A_.glif</string>
    <key>dvS_KA</key>
    <string>dvS__K_A_.glif</string>
    <key>dvS_THA</key>
    <string>dvS__T_H_A_.glif</string>
    <key>dvTA</key>
    <string>dvT_A_.glif</string>
    <key>dvTH</key>
    <string>dvT_H_.glif</string>
    <key>dvTHA</key>
    <string>dvT_H_A_.glif</string>
    <key>dvTH_NA</key>
    <string>dvT_H__N_A_.glif</string>
    <key>dvTH_R</key>
    <string>dvT_H__R_.glif</string>
    <key>dvTTA</key>
    <string>dvT_T_A_.glif</string>
    <key>dvTTHA</key>
    <string>dvT_T_H_A_.glif</string>
    <key>dvTTH_TTHA</key>
    <string>dvT_T_H__T_T_H_A_.glif</string>
    <key>dvTTH_VA</key>
    <string>dvT_T_H__V_A_.glif</string>
    <key>dvTTH_YA</key>
    <string>dvT_T_H__Y_A_.glif</string>
    <key>dvTT_TTA</key>
    <string>dvT_T__T_T_A_.glif</string>
    <key>dvTT_TTHA</key>
    <string>dvT_T__T_T_H_A_.glif</string>
    <key>dvTT_VA</key>
    <string>dvT_T__V_A_.glif</string>
    <key>dvTT_YA</key>
    <string>dvT_T__Y_A_.glif</string>
    <key>dvT_KHA</key>
    <string>dvT__K_H_A_.glif</string>
    <key>dvT_KH_RA</key>
    <string>dvT__K_H__R_A_.glif</string>
    <key>dvT_MA</key>
    <string>dvT__M_A_.glif</string>
    <key>dvT_NA</key>
    <string>dvT__N_A_.glif</string>
    <key>dvT_R</key>
    <string>dvT__R_.glif</string>
    <key>dvT_RA</key>
    <string>dvT__R_A_.glif</string>
    <key>dvT_TA</key>
    <string>dvT__T_A_.glif</string>
    <key>dvT_T_YA</key>
    <string>dvT__T__Y_A_.glif</string>
    <key>dvU</key>
    <string>dvU_.glif</string>
    <key>dvUU</key>
    <string>dvU_U_.glif</string>
    <key>dvVA</key>
    <string>dvV_A_.glif</string>
    <key>dvVirama</key>
    <string>dvV_irama.glif</string>
    <key>dvY</key>
    <string>dvY_.glif</string>
    <key>dvYA</key>
    <string>dvY_A_.glif</string>
    <key>dvmAI</key>
    <string>dvmA_I_.glif</string>
    <key>dvmAI_Anusvara</key>
    <string>dvmA_I__A_nusvara.glif</string>
    <key>dvmAI_Reph</key>
    <string>dvmA_I__R_eph.glif</string>
    <key>dvmAI_Reph_Anusvara</key>
    <string>dvmA_I__R_eph_A_nusvara.glif</string>
    <key>dvmE</key>
    <string>dvmE_.glif</string>
    <key>dvmE_Anusvara</key>
    <string>dvmE__A_nusvara.glif</string>
    <key>dvmE_Reph</key>
    <string>dvmE__R_eph.glif</string>
    <key>dvmE_Reph_Anusvara</key>
    <string>dvmE__R_eph_A_nusvara.glif</string>
    <key>dvmEcandra</key>
    <string>dvmE_candra.glif</string>
    <key>dvmII.aLong</key>
    <string>dvmI_I_.aL_ong.glif</string>
    <key>dvmU</key>
    <string>dvmU_.glif</string>
    <key>dvmUU</key>
    <string>dvmU_U_.glif</string>
    <key>dvmvL</key>
    <string>dvmvL_.glif</string>
    <key>dvmvLL</key>
    <string>dvmvL_L_.glif</string>
    <key>dvmvR</key>
    <string>dvmvR_.glif</string>
    <key>dvmvRR</key>
    <string>dvmvR_R_.glif</string>
    <key>dvvL</key>
    <string>dvvL_.glif</string>
    <key>dvvLL</key>
    <string>dvvL_L_.glif</string>
    <key>dvvR</key>
    <string>dvvR_.glif</string>
    <key>dvvRR</key>
    <string>dvvR_R_.glif</string>
    <key>ellipsis.ss01</key>
    <string>ellipsis.ss01.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>semicolon.ss01</key>
    <string>semicolon.ss01.glif</string>
    <key>six.ss04</key>
    <string>six.ss04.glif</string>
    <key>two.ss04</key>
    <string>two.ss04.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
