<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>ellipsis.ss01</key>
    <string>ellipsis.ss01.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.ss01</key>
    <string>exclam.ss01.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered.ss01</key>
    <string>periodcentered.ss01.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>questiondown.ss01</key>
    <string>questiondown.ss01.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
