<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 19 17, 17:06</string>
      <string>glyphs.S_ep 19 17, 17_06</string>
    </array>
    <array>
      <string>Sep 19 17, 18:23</string>
      <string>glyphs.S_ep 19 17, 18_23</string>
    </array>
    <array>
      <string>Sep 19 17, 18:23.background</string>
      <string>glyphs.S_ep 19 17, 18_23.background</string>
    </array>
    <array>
      <string>Sep 20 17, 15:51</string>
      <string>glyphs.S_ep 20 17, 15_51</string>
    </array>
    <array>
      <string>Sep 20 17, 15:52</string>
      <string>glyphs.S_ep 20 17, 15_52</string>
    </array>
    <array>
      <string>Sep 20 17, 15:52.background</string>
      <string>glyphs.S_ep 20 17, 15_52.background</string>
    </array>
    <array>
      <string>Sep 19 17, 16:56</string>
      <string>glyphs.S_ep 19 17, 16_56</string>
    </array>
    <array>
      <string>Sep 19 17, 16:53</string>
      <string>glyphs.S_ep 19 17, 16_53</string>
    </array>
    <array>
      <string>Sep 19 17, 16:53.background</string>
      <string>glyphs.S_ep 19 17, 16_53.background</string>
    </array>
    <array>
      <string>Sep 19 17, 17:00</string>
      <string>glyphs.S_ep 19 17, 17_00</string>
    </array>
    <array>
      <string>Sep 19 17, 17:00.background</string>
      <string>glyphs.S_ep 19 17, 17_00.background</string>
    </array>
    <array>
      <string>Sep 19 17, 17:01</string>
      <string>glyphs.S_ep 19 17, 17_01</string>
    </array>
    <array>
      <string>Sep 19 17, 17:01.background</string>
      <string>glyphs.S_ep 19 17, 17_01.background</string>
    </array>
    <array>
      <string>Sep 19 17, 17:03</string>
      <string>glyphs.S_ep 19 17, 17_03</string>
    </array>
    <array>
      <string>Sep 20 17, 19:27</string>
      <string>glyphs.S_ep 20 17, 19_27</string>
    </array>
    <array>
      <string>Sep 20 17, 19:27.background</string>
      <string>glyphs.S_ep 20 17, 19_27.background</string>
    </array>
    <array>
      <string>Sep 20 17, 19:32</string>
      <string>glyphs.S_ep 20 17, 19_32</string>
    </array>
    <array>
      <string>Sep 20 17, 19:32.background</string>
      <string>glyphs.S_ep 20 17, 19_32.background</string>
    </array>
  </array>
</plist>
