<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aogonek.ss02</key>
    <string>aogonek.ss02.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.ss01</key>
    <string>colon.ss01.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.ss01</key>
    <string>comma.ss01.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dvCHA</key>
    <string>dvC_H_A_.glif</string>
    <key>dvHA</key>
    <string>dvH_A_.glif</string>
    <key>dvH_NA</key>
    <string>dvH__N_A_.glif</string>
    <key>dvK_S_TTA</key>
    <string>dvK__S__T_T_A_.glif</string>
    <key>dvN_T_RA</key>
    <string>dvN__T__R_A_.glif</string>
    <key>dvSH_CHA</key>
    <string>dvS_H__C_H_A_.glif</string>
    <key>dvU</key>
    <string>dvU_.glif</string>
    <key>dvUU</key>
    <string>dvU_U_.glif</string>
    <key>ellipsis.ss01</key>
    <string>ellipsis.ss01.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.ss01</key>
    <string>exclam.ss01.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>nine.ss04</key>
    <string>nine.ss04.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six.ss04</key>
    <string>six.ss04.glif</string>
    <key>three.ss04</key>
    <string>three.ss04.glif</string>
    <key>two.ss04</key>
    <string>two.ss04.glif</string>
  </dict>
</plist>
