<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Sep 20 17, 19:55</string>
      <string>glyphs.S_ep 20 17, 19_55</string>
    </array>
    <array>
      <string>Sep 19 17, 17:06</string>
      <string>glyphs.S_ep 19 17, 17_06</string>
    </array>
    <array>
      <string>Sep 20 17, 19:51</string>
      <string>glyphs.S_ep 20 17, 19_51</string>
    </array>
    <array>
      <string>Sep 21 17, 11:53</string>
      <string>glyphs.S_ep 21 17, 11_53</string>
    </array>
    <array>
      <string>Sep 21 17, 11:53.background</string>
      <string>glyphs.S_ep 21 17, 11_53.background</string>
    </array>
    <array>
      <string>Sep 19 17, 16:50</string>
      <string>glyphs.S_ep 19 17, 16_50</string>
    </array>
    <array>
      <string>Sep 19 17, 16:50.background</string>
      <string>glyphs.S_ep 19 17, 16_50.background</string>
    </array>
    <array>
      <string>Sep 19 17, 16:54</string>
      <string>glyphs.S_ep 19 17, 16_54</string>
    </array>
    <array>
      <string>Sep 19 17, 16:54.background</string>
      <string>glyphs.S_ep 19 17, 16_54.background</string>
    </array>
    <array>
      <string>Sep 19 17, 16:56</string>
      <string>glyphs.S_ep 19 17, 16_56</string>
    </array>
    <array>
      <string>Sep 19 17, 16:56.background</string>
      <string>glyphs.S_ep 19 17, 16_56.background</string>
    </array>
    <array>
      <string>Sep 19 17, 16:53</string>
      <string>glyphs.S_ep 19 17, 16_53</string>
    </array>
    <array>
      <string>Sep 19 17, 16:53.background</string>
      <string>glyphs.S_ep 19 17, 16_53.background</string>
    </array>
    <array>
      <string>Sep 19 17, 17:01</string>
      <string>glyphs.S_ep 19 17, 17_01</string>
    </array>
    <array>
      <string>Dec 11 17, 16:24</string>
      <string>glyphs.D_ec 11 17, 16_24</string>
    </array>
    <array>
      <string>Sep 20 17, 19:48</string>
      <string>glyphs.S_ep 20 17, 19_48</string>
    </array>
    <array>
      <string>Sep 20 17, 19:48.background</string>
      <string>glyphs.S_ep 20 17, 19_48.background</string>
    </array>
    <array>
      <string>Bold Dec 17 16, 20:40</string>
      <string>glyphs.B_old D_ec 17 16, 20_40</string>
    </array>
    <array>
      <string>Bold Dec 12 16, 15:44</string>
      <string>glyphs.B_old D_ec 12 16, 15_44</string>
    </array>
    <array>
      <string>Light Dec 13 16, 12:19</string>
      <string>glyphs.L_ight D_ec 13 16, 12_19</string>
    </array>
    <array>
      <string>Bold Dec 13 16, 12:09</string>
      <string>glyphs.B_old D_ec 13 16, 12_09</string>
    </array>
    <array>
      <string>Light Dec 16 16, 18:14</string>
      <string>glyphs.L_ight D_ec 16 16, 18_14</string>
    </array>
    <array>
      <string>Dec 16 16, 13:27</string>
      <string>glyphs.D_ec 16 16, 13_27</string>
    </array>
    <array>
      <string>Dec 16 16, 13:23</string>
      <string>glyphs.D_ec 16 16, 13_23</string>
    </array>
    <array>
      <string>Dec 16 16, 13:55</string>
      <string>glyphs.D_ec 16 16, 13_55</string>
    </array>
    <array>
      <string>Dec 16 16, 13:52</string>
      <string>glyphs.D_ec 16 16, 13_52</string>
    </array>
    <array>
      <string>Dec 16 16, 15:39</string>
      <string>glyphs.D_ec 16 16, 15_39</string>
    </array>
    <array>
      <string>Dec 16 16, 15:38</string>
      <string>glyphs.D_ec 16 16, 15_38</string>
    </array>
    <array>
      <string>Dec 16 16, 15:07</string>
      <string>glyphs.D_ec 16 16, 15_07</string>
    </array>
    <array>
      <string>Dec 16 16, 15:09</string>
      <string>glyphs.D_ec 16 16, 15_09</string>
    </array>
    <array>
      <string>Dec 16 16, 15:32</string>
      <string>glyphs.D_ec 16 16, 15_32</string>
    </array>
    <array>
      <string>Dec 16 16, 13:51</string>
      <string>glyphs.D_ec 16 16, 13_51</string>
    </array>
    <array>
      <string>Dec 16 16, 13:39</string>
      <string>glyphs.D_ec 16 16, 13_39</string>
    </array>
    <array>
      <string>Dec 16 16, 14:21</string>
      <string>glyphs.D_ec 16 16, 14_21</string>
    </array>
    <array>
      <string>Dec 16 16, 14:23</string>
      <string>glyphs.D_ec 16 16, 14_23</string>
    </array>
    <array>
      <string>Dec 16 16, 15:14</string>
      <string>glyphs.D_ec 16 16, 15_14</string>
    </array>
    <array>
      <string>Dec 16 16, 15:16</string>
      <string>glyphs.D_ec 16 16, 15_16</string>
    </array>
    <array>
      <string>Dec 16 16, 15:17</string>
      <string>glyphs.D_ec 16 16, 15_17</string>
    </array>
    <array>
      <string>Dec 16 16, 14:17</string>
      <string>glyphs.D_ec 16 16, 14_17</string>
    </array>
    <array>
      <string>Dec 16 16, 14:19</string>
      <string>glyphs.D_ec 16 16, 14_19</string>
    </array>
    <array>
      <string>Dec 16 16, 15:42</string>
      <string>glyphs.D_ec 16 16, 15_42</string>
    </array>
    <array>
      <string>Dec 16 16, 15:41</string>
      <string>glyphs.D_ec 16 16, 15_41</string>
    </array>
    <array>
      <string>Dec 16 16, 14:14</string>
      <string>glyphs.D_ec 16 16, 14_14</string>
    </array>
    <array>
      <string>Dec 16 16, 14:16</string>
      <string>glyphs.D_ec 16 16, 14_16</string>
    </array>
    <array>
      <string>Dec 16 16, 15:40</string>
      <string>glyphs.D_ec 16 16, 15_40</string>
    </array>
    <array>
      <string>Dec 16 16, 15:22</string>
      <string>glyphs.D_ec 16 16, 15_22</string>
    </array>
    <array>
      <string>Dec 16 16, 18:17</string>
      <string>glyphs.D_ec 16 16, 18_17</string>
    </array>
    <array>
      <string>Dec 16 16, 18:12</string>
      <string>glyphs.D_ec 16 16, 18_12</string>
    </array>
    <array>
      <string>Dec 16 16, 18:11</string>
      <string>glyphs.D_ec 16 16, 18_11</string>
    </array>
    <array>
      <string>Dec 16 16, 18:13</string>
      <string>glyphs.D_ec 16 16, 18_13</string>
    </array>
    <array>
      <string>Dec 16 16, 16:39</string>
      <string>glyphs.D_ec 16 16, 16_39</string>
    </array>
    <array>
      <string>Dec 16 16, 17:00</string>
      <string>glyphs.D_ec 16 16, 17_00</string>
    </array>
    <array>
      <string>Dec 16 16, 16:58</string>
      <string>glyphs.D_ec 16 16, 16_58</string>
    </array>
    <array>
      <string>Dec 16 16, 16:45</string>
      <string>glyphs.D_ec 16 16, 16_45</string>
    </array>
    <array>
      <string>Dec 16 16, 16:43</string>
      <string>glyphs.D_ec 16 16, 16_43</string>
    </array>
    <array>
      <string>Dec 16 16, 16:41</string>
      <string>glyphs.D_ec 16 16, 16_41</string>
    </array>
    <array>
      <string>Dec 16 16, 17:14</string>
      <string>glyphs.D_ec 16 16, 17_14</string>
    </array>
    <array>
      <string>Dec 16 16, 17:57</string>
      <string>glyphs.D_ec 16 16, 17_57</string>
    </array>
    <array>
      <string>Dec 16 16, 18:06</string>
      <string>glyphs.D_ec 16 16, 18_06</string>
    </array>
    <array>
      <string>Dec 16 16, 17:12</string>
      <string>glyphs.D_ec 16 16, 17_12</string>
    </array>
    <array>
      <string>Dec 16 16, 17:01</string>
      <string>glyphs.D_ec 16 16, 17_01</string>
    </array>
    <array>
      <string>Dec 16 16, 16:48</string>
      <string>glyphs.D_ec 16 16, 16_48</string>
    </array>
    <array>
      <string>Dec 16 16, 16:53</string>
      <string>glyphs.D_ec 16 16, 16_53</string>
    </array>
    <array>
      <string>Light Dec 16 16, 13:56</string>
      <string>glyphs.L_ight D_ec 16 16, 13_56</string>
    </array>
    <array>
      <string>Light Dec 13 16, 17:47</string>
      <string>glyphs.L_ight D_ec 13 16, 17_47</string>
    </array>
    <array>
      <string>Bold Dec 17 16, 20:47</string>
      <string>glyphs.B_old D_ec 17 16, 20_47</string>
    </array>
    <array>
      <string>Light Dec 16 16, 15:28</string>
      <string>glyphs.L_ight D_ec 16 16, 15_28</string>
    </array>
    <array>
      <string>Dec 16 16, 21:25</string>
      <string>glyphs.D_ec 16 16, 21_25</string>
    </array>
    <array>
      <string>Dec 16 16, 21:58</string>
      <string>glyphs.D_ec 16 16, 21_58</string>
    </array>
    <array>
      <string>Light Dec 18 16, 00:49</string>
      <string>glyphs.L_ight D_ec 18 16, 00_49</string>
    </array>
    <array>
      <string>Bold Dec 18 16, 01:09</string>
      <string>glyphs.B_old D_ec 18 16, 01_09</string>
    </array>
    <array>
      <string>Bold Dec 18 16, 01:56</string>
      <string>glyphs.B_old D_ec 18 16, 01_56</string>
    </array>
    <array>
      <string>Bold Dec 18 16, 10:48</string>
      <string>glyphs.B_old D_ec 18 16, 10_48</string>
    </array>
    <array>
      <string>Light Dec 18 16, 11:20</string>
      <string>glyphs.L_ight D_ec 18 16, 11_20</string>
    </array>
    <array>
      <string>Bold Dec 16 16, 19:56</string>
      <string>glyphs.B_old D_ec 16 16, 19_56</string>
    </array>
    <array>
      <string>Dec 16 16, 16:29</string>
      <string>glyphs.D_ec 16 16, 16_29</string>
    </array>
    <array>
      <string>Bold Dec 7 16, 16:54</string>
      <string>glyphs.B_old D_ec 7 16, 16_54</string>
    </array>
    <array>
      <string>Bold Dec 17 16, 15:46</string>
      <string>glyphs.B_old D_ec 17 16, 15_46</string>
    </array>
  </array>
</plist>
